<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>

</head>
<body>

		<h1>Cadastro de Eventos:</h1>
	<form class="container" method="post">
		Nome: <input type="text" value="" name="nome"/>
		<div class="row">
			<div class="input-field col s6">
				Local: <input type="text" value="" name="local"/>
			</div>
			<div class="input-field col s3">
				Data: <input type="date" value="" name="data"/>
			</div>
			<div class="input-field col s3">
				Horario: <input type="time" value="" name="horario"/>
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Salvar</button>
	
	</form>
</body>


</html>